body {
	font-family: sans-serif;
	color: #000;
	background-color: #fff;
	margin: 0px;
	overflow: hidden;
}

.action                 { background-color: #3d9ecb; }
.action:hover           { background-color: #6eb6d8; }
.action:active          { background-color: #a3cce0; }
.action.selected        { background-color: #4fcf0f; }
.action.selected:hover  { background-color: #7fe04f; }
.action.selected:active { background-color: #9bf36f; }
.action.deactivated     { background-color: #ba9; }

.topcorners, .corners {
	-moz-border-radius-topleft:      10px;
	-webkit-border-top-left-radius:  10px;
	-khtml-border-top-left-radius:   10px;
	border-top-left-radius:          10px;
	-moz-border-radius-topright:     10px;
	-webkit-border-top-right-radius: 10px;
	-khtml-border-top-right-radius:  10px;
	border-top-right-radius:         10px;
}
.bottomcorners, .corners {
	-moz-border-radius-bottomleft:      10px;
	-webkit-border-bottom-left-radius:  10px;
	-khtml-border-bottom-left-radius:   10px;
	border-bottom-left-radius:          10px;
	-moz-border-radius-bottomright:     10px;
	-webkit-border-bottom-right-radius: 10px;
	-khtml-border-bottom-right-radius:  10px;
	border-bottom-right-radius:         10px;
}
.topcorners.small, .corners.small {
	-moz-border-radius-topleft:      5px;
	-webkit-border-top-left-radius:  5px;
	-khtml-border-top-left-radius:   5px;
	border-top-left-radius:          5px;
	-moz-border-radius-topright:     5px;
	-webkit-border-top-right-radius: 5px;
	-khtml-border-top-right-radius:  5px;
	border-top-right-radius:         5px;
}
.bottomcorners.small, .corners.small {
	-moz-border-radius-bottomleft:      5px;
	-webkit-border-bottom-left-radius:  5px;
	-khtml-border-bottom-left-radius:   5px;
	border-bottom-left-radius:          5px;
	-moz-border-radius-bottomright:     5px;
	-webkit-border-bottom-right-radius: 5px;
	-khtml-border-bottom-right-radius:  5px;
	border-bottom-right-radius:         5px;
}

.controltitle { font-size: x-large; font-weight: bold; }
.col          { cursor: col-resize; }
.closer       { color: #ccc; }
.topborder    { border-top: 4px solid #3d9ecb; }
.greybox      { padding: 8px; background: #ddd; }
.bigpadding   { padding-bottom: 50px; }

.icon       { fill: #f5f3e5; stroke: none; pointer-events: none; }
.digit      { cursor: default; }
.digitShow  { cursor: default; }
.digitInput { cursor: pointer; }
.digit      rect    { fill: none; }
.digitShow  rect    { fill: #ddd; }
.digitInput rect    { fill: #fff; }
.digitShow:hover    rect    { fill: #6eb6d8; }
.digitInput:hover   rect    { fill: #6eb6d8; }
.inputText  { fill: #000; font-weight: bold; font-family: monospace; }
.line       { fill: none; stroke: #000; stroke-width: 2px; stroke-linecap: round; }

/* Status */
.stat       { color: #bbb; width: 250px; height: 25px; font-size: 16px; }
.statActive { color: #3d9ecb; font-weight: bold; }

/* Tooltip */
.tooltip        { position: absolute; z-index: 3; }
.tooltip.frame  { background: #092f3e; color: #a3cce0; padding: 12px; }
.tooltip.pike   { background: #092f3e; pointer-events: none; }
.inputcontainer { padding-top: 10px; }
.diagonal       {
	transform:         rotate( 45deg );
	-webkit-transform: rotate( 45deg );
	-moz-transform:    rotate( 45deg );
	-o-transform:      rotate( 45deg );
}

.pointer, .button { cursor: pointer; }
.button { margin: 4px; padding: 6px; color: #000; }

/* Slider */
.slider    { position: relative; margin: 8px; width: 330px; height: 30px; }
.sliderbar { position: absolute; top: 6px; left: 6px; height: 18px; width: 318px; background: #765;  pointer-events: none; }
.handle    { position: absolute; top: 0px; left: 0px; height: 30px; width: 30px; }
.range     { position: absolute; top: 6px; left: 6px; height: 18px; background: #3283a9; pointer-events: none; }
.range.deactivated { background: #987; }

